<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dashboard</title>
	<link rel="stylesheet" href="main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.0/firebase.js"></script>
	<script src='main.js'></script>
</head>
<body>
	<h1> <%= @user.username %> </h1>
	<form action="/login" method='POST'>
		<input type="hidden" name="_method" value="DELETE">
		<button>Logout</button>
	</form>
	<a href="/project/new">Create New Project</a>
	<div class="dashboard">
		<h2>Your Project</h2>
		<ul id="boards">
			<% @projects.each do |project| %>
			<li><a href="/project/<%=project.id%>"><%=project.title %></a></li>
			<% end %>
		</ul>
	</div>
	<div class="board">
		<ul>
			<% if @invites %>
			<% @invites.each do |invite| %>
				<li><%= invite.project.title %> by <%= invite.project.user.username %></li>
			<% end %>
			<% end %>
		</ul>
	</div>
</body>
</html>