<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dashboard</title>
	<link rel="stylesheet" href="/css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src='/js/dashboard.js'></script>
</head>
<body>
	<h1> <%= @user.username %> </h1>
	<form action="/login" method='POST'>
		<input type="hidden" name="_method" value="DELETE">
		<button>Logout</button>
	</form>
	<a href="/project/new">Create New Project</a>
	<div class="dashboard">
		<h2>Your Project</h2>
		<ul id="boards">
			<% @projects.each do |project| %>
			<li><a href="/project/<%=project.id%>"><%=project.title %></a></li>
			<% end %>
		</ul>
	</div>
	<div class="board">
		<ul>
			<% if @invites %>
			<% @invites.each do |invite| %>
				<li><%= invite.project.title %> by <%= invite.project.user.username %>
				<button class='acceptBut' id='accept<%=invite.id%>'>Accept</button>
				<button class='declineBut' id='decline<%=invite.id%>'>Decline</button></li>
			<% end %>
			<% end %>
		</ul>
	</div>
	<div class="collabs">
		<h2>Collaborations</h2>
		<ul id='collabs'>
			<% @collabs.each do |collab| %>
				<li><a href="/project/<%=collab.project.id%>"><%=collab.project.title%></a></li>
			<% end %>
		</ul>
	</div>
</body>
</html>