<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/css/reset.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/main.css">
	<meta charset="UTF-8">
	<title>Dashboard</title>
</head>
<body>
	<div class="container">
	<div class="row header">
	<div class="navbar col-md-12">
		<h3 class="white name inline" id="project-title">JotBoard</h3>
		<form class='inline pull-right logout-form' id='logout' action="/login" method='POST'>
			<input type="hidden" name="_method" value="DELETE">
			<button>Logout</button>
		</form>
	</div>
	</div>
	</div>
	<div class="container">	
	<div class="row">
		<!-- <div class=" right-sidebar col-md-2 col-md-push-10">
		
		<h3 class="right-sidebar-h3"></h3> -->
		<!-- <ul>
			<% if @invites %>
			<% @invites.each do |invite| %>
			<li><%= invite.project.title %> by <%= invite.project.user.username %>
					<form action="/collab" method='POST'>
						<input type="hidden" name='invite_id'value='<%=invite.id%>'>
						<button>Accept</button>
					</form>
					<form action='/invite/<%=invite.id%>' method='POST'>
						<input type="hidden" name='_method' value='DELETE'>
						<input type="hidden" name='invite_id'value='<%=invite.id%>'>
						<button>Decline</button>
					</form>
			<% end %>
			<% end %>
		</ul> -->
		<!-- </div> -->
	<div class="col-md-12">
	<h2 class="welcome">Welcome, <%= @user.username %></h2>
	<div class="">
		
		<div class="projects">
			<h3 class="titles">Your Projects</h3>
			<div class="row">
				<% @projects.each do |project| %>
				<!-- <a href="/project/<%=project.id%>" class='btn btn-info col-md-3 col-xs-12 project' role='button'><%=project.title %></a> -->
				<a href="/project/<%=project.id%>"><div class='col-md-4 col-xs-12 project'><%=project.title %></div></a>
				<% end %>
				<div class='col-md-4 col-xs-12 project'>
					<h3 class=" white right-sidebar-h3">Create New Project</h3>
		<form action="/project" method='POST'>
			<label for="title" class='white'>Title: </label>
			<input type="text" name='title'>
		</form>
				</div>
			</div>
		</div>
	</div>
	<!-- </div> -->
	
	<div class="">
		<h3>Collaborations</h3>
		<div class="row">
			<% @collabs.each do |collab| %>
				<!-- <a href="/project/<%=collab.project.id%>" class='btn btn-info col-md-3 col-xs-12 project' role='button'><%=collab.project.title%></a> -->
				<a href="/project/<%=collab.id%>"><div class='col-md-4 col-xs-12 project'><%=collab.project.title %></div></a>
			<% end %>
			<% if @invites %>
			<% @invites.each do |invite| %>
			<div class='col-md-4 col-xs-12 project'>
				<%= invite.project.title %> by <%= invite.project.user.username %>
					<form action="/collab" method='POST'>
						<input type="hidden" name='invite_id'value='<%=invite.id%>'>
						<button>Accept</button>
					</form>
					<form action='/invite/<%=invite.id%>' method='POST'>
						<input type="hidden" name='_method' value='DELETE'>
						<input type="hidden" name='invite_id'value='<%=invite.id%>'>
						<button>Decline</button>
					</form>
			</div>
			<% end %>
			<% end %>
		</div>
	</div>
	</div>
	
	</div>
	</div>
</body>
</html>